In [2]:
!pip install bigframes -q

In [3]:
from google.cloud import bigquery

import bigframes.pandas as bpd
from bigframes.ml.linear_model import LinearRegression as BQLinearRegression

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression as SKLinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

import pandas as pd
import matplotlib.pyplot as plt
sns.set_theme(color_codes=True)

In [4]:
PROJECT_ID = "arctic-eye-446816-j7"
REGION = "US"

In [5]:
bpd.options.bigquery.project = PROJECT_ID
bpd.options.bigquery.location = REGION

In [6]:
#https://console.cloud.google.com/bigquery/analytics-hub/discovery/projects/447047240005/locations/us/dataExchanges/federalreserve/listings/surveyofconsumerfinanceshistorictables
df = bpd.read_gbq("bigquery-public-data.ml_datasets.penguins")
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Gentoo penguin (Pygoscelis papua),Biscoe,50.5,15.9,225.0,5400.0,MALE
1,Gentoo penguin (Pygoscelis papua),Biscoe,45.1,14.5,215.0,5000.0,FEMALE
2,Adelie Penguin (Pygoscelis adeliae),Torgersen,41.4,18.5,202.0,3875.0,MALE
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,38.6,17.0,188.0,2900.0,FEMALE
4,Gentoo penguin (Pygoscelis papua),Biscoe,46.5,14.8,217.0,5200.0,FEMALE

In [7]:
df.info()

<class 'bigframes.dataframe.DataFrame'>

Index: 344 entries, 0 to 343
Data columns (total 7 columns):

/opt/conda/lib/python3.10/site-packages/bigframes/core/blocks.py:125: NullIndexPreviewWarning: Creating object with Null Index. Null Index is a preview feature.
  warnings.warn(

  #  Column             Non-Null Count    Dtype
---  -----------------  ----------------  -------
  0  species            344 non-null      string
  1  island             344 non-null      string
  2  culmen_length_mm   342 non-null      Float64
  3  culmen_depth_mm    342 non-null      Float64
  4  flipper_length_mm  342 non-null      Float64
  5  body_mass_g        342 non-null      Float64
  6  sex                334 non-null      string
dtypes: Float64(4), string(3)

memory usage: 22016 bytes

In [8]:
df[df.sex.isnull()]

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
6,Adelie Penguin (Pygoscelis adeliae),Dream,37.5,18.9,179.0,2975.0,<NA>
23,Gentoo penguin (Pygoscelis papua),Biscoe,<NA>,<NA>,<NA>,<NA>,<NA>
40,Adelie Penguin (Pygoscelis adeliae),Torgersen,<NA>,<NA>,<NA>,<NA>,<NA>
136,Adelie Penguin (Pygoscelis adeliae),Torgersen,34.1,18.1,193.0,3475.0,<NA>
160,Gentoo penguin (Pygoscelis papua),Biscoe,44.5,14.3,216.0,4100.0,<NA>
205,Adelie Penguin (Pygoscelis adeliae),Torgersen,37.8,17.3,180.0,3700.0,<NA>
235,Gentoo penguin (Pygoscelis papua),Biscoe,47.3,13.8,216.0,4725.0,<NA>
244,Adelie Penguin (Pygoscelis adeliae),Torgersen,42.0,20.2,190.0,4250.0,<NA>
254,Adelie Penguin (Pygoscelis adeliae),Torgersen,37.8,17.1,186.0,3300.0,<NA>
332,Gentoo penguin (Pygoscelis papua),Biscoe,46.2,14.4,214.0,4650.0,<NA>

In [9]:
sns.scatterplot(x='flipper_length_mm', y = 'body_mass_g', data=df, hue='sex')
plt.show()
##https://matplotlib.org/stable/gallery/lines_bars_and_markers/scatter_with_legend.html#sphx-glr-gallery-lines-bars-and-markers-scatter-with-legend-py

TypeError: Data source must be a DataFrame or Mapping, not <class 'bigframes.dataframe.DataFrame'>.

In [11]:
df2 = bpd.read_gbq("bigquery-public-data.chicago_crime.crime")
df2.head()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,3809715,HL151847,2005-01-29 23:30:00+00:00,014XX W MORSE AVE,2027,NARCOTICS,POSS: CRACK,SIDEWALK,True,False,...,49,1,18,1165420.0,1946171.0,2005,2018-02-28 15:56:25+00:00,42.007892,-87.666728,"(42.007891504, -87.666727525)"
1,7873610,HT104508,2011-01-04 00:30:00+00:00,046XX S EVANS AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,True,...,4,38,26,1182034.0,1874483.0,2011,2016-02-04 06:33:39+00:00,41.810806,-87.607833,"(41.810806172, -87.607832602)"
2,12421979,JE299751,2021-06-14 19:00:00+00:00,055XX S STATE ST,0810,THEFT,OVER $500,RESTAURANT,False,False,...,3,40,06,1177220.0,1868236.0,2021,2021-07-15 15:39:41+00:00,41.793774,-87.625678,"(41.793773985, -87.625678392)"
3,8649560,HV324406,2012-06-08 08:00:00+00:00,027XX S DEARBORN ST,0890,THEFT,FROM BUILDING,PARK PROPERTY,False,False,...,3,35,06,1176315.0,1886573.0,2012,2016-02-04 06:33:39+00:00,41.844113,-87.628445,"(41.844112707, -87.628445336)"
4,1362379,G067268,2001-02-02 01:30:54+00:00,004XX N STATE ST,0460,BATTERY,SIMPLE,SMALL RETAIL STORE,True,False,...,<NA>,<NA>,08B,1176326.0,1903597.0,2001,2015-08-17 15:03:40+00:00,41.890827,-87.627892,"(41.890827398, -87.62789157)"

In [12]:
df3 = bpd.read_gbq("bigquery-public-data.austin_crime.crime")
df3.head()

,unique_key,address,census_tract,clearance_date,clearance_status,council_district_code,description,district,latitude,longitude,location,location_description,primary_type,timestamp,x_coordinate,y_coordinate,year,zipcode
0,20165026466,<NA>,23.13,2016-06-30 00:00:00+00:00,Not cleared,3,BURGLARY OF VEHICLE,H,<NA>,<NA>,(0 1 2 3 4...,2900 SUNRIDGE DR,Theft,2016-06-27 00:00:00+00:00,3119729,10053927,2016,78741
1,201440943,"119 FREDERICK ST Austin, TX 78704 (30.230732, ...",13.08,2014-01-08 00:00:00+00:00,Cleared by Arrest,3,BURGLARY OF RESIDENCE,D,30.230732,-97.760585,(0 1 2 ...,119 FREDERICK ST,Burglary / Breaking & Entering,2014-01-04 00:00:00+00:00,3108953,10057000,2014,78704
2,20151031435,<NA>,21.1,2015-04-22 00:00:00+00:00,Not cleared,1,BURGLARY NON RESIDENCE,C,<NA>,<NA>,(0 1 2 3 4...,4904 LOUIS AVE,Burglary,2015-04-13 00:00:00+00:00,3132451,10073733,2015,78721
3,20158003159,<NA>,19.01,2015-09-15 00:00:00+00:00,Not cleared,5,THEFT OF BICYCLE,D,<NA>,<NA>,(0 1 2 3 4...,1135 BARTON HILLS DR,Theft,2015-09-11 00:00:00+00:00,3104868,10068158,2015,78704
4,20145025710,"6200 LOYOLA LN Austin, TX 78724 (30.30171, -97...",22.02,2014-06-24 00:00:00+00:00,Not cleared,1,BURGLARY OF VEHICLE,C,30.30171,-97.651541,(0 1 2 ...,6200 LOYOLA LN,Theft: BOV,2014-06-10 00:00:00+00:00,3143028,10083917,2014,78724